<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodwar Apps</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip to content</a>
    <header class="header">
        <app-bar></app-bar>
        <burger-menu></burger-menu>
        <nav-bar></nav-bar>
    </header>
    
    <hero-element></hero-element>
    <main class="main" id="mainContent">
        <top-menus></top-menus>
        <banner-promo></banner-promo>
        <section class="top__resto">
            <div class="info__content">
                <h2 class="title__content" tabindex="0">
                    BEST RESTAURANT
                </h2>
                <p class="description__content" tabindex="0">
                    The Best Restaurant in this month
                </p>
            </div>
            <div class="list__resto">
            </div>
        </section>
    </main>
    <button-top></button-top>
    <footer-app></footer-app>
</body>

</html>