<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodwar restaurant catalogue that you can find the best restaurant in Indonesia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodwar Apps</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip to content</a>
    <header class="header">
        <app-bar></app-bar>
        <burger-menu></burger-menu>
        <nav-bar></nav-bar>
    </header>
    <main class="main" id="mainContent" tabindex="0">
        
    </main>
    <button-top></button-top>
    <footer-app></footer-app>
</body>

</html>