.btn-top {
    background-color: $pinky;
    position: fixed;
    bottom: 20px;
    right: 20px;
    &:hover {
        cursor: pointer;
        background-color: $pinkydark;
    }
    .arrow {
        width: 24px;
        height: 28px;
    }
}

