.btn-top {
    background-color: $pinky;
    position: fixed;
    bottom: 20px;
    right: 20px;
    &:hover {
        cursor: pointer;
        background-color: $pinkydark;
    }
    .arrow {
        font-size: 24px;
    }
}

