@media screen and (max-width: 375px) {
    header {
        padding: 15px 10px !important;
    }
    .btn-order {
        margin-top: 2em !important;
    }
    
}

@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 1fr auto;
    }
    .list {
        display: flex;
        position: fixed;
        right: 0;
        flex-direction: column;
        background-color: #F4F0FA;  
        top: 80px;
        width: 80%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 99;
        transform: translateX(100%);
        transition: all 1s;
        li {
            a {
                font-size: 32px;
            }
        }
        
    }
    .slide {
        transform: translateX(0);
    }
    .breadcrumb {
        margin-left: 20px;
    }
    .form-review {
        input, textarea {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none !important;
    }
    .detail-header {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .menu-container {
        grid-template-columns: auto auto !important;
    }
    
}
@media screen and (min-width: 1200px) {
    main {
        max-width: 95%;
        margin: 0 auto;
    }
    .hero {
        min-width: 1000px;
        max-width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }
}

